footer.wrapper 
    .about-company-bg
        .about-company-info.flex
            .about-company
                h2 про компанію
                p Компанія PORTEN – лідер на українському ринку годинників. На цей час ми об'єднуємо більше сорока магазинів у різних куточках України та інтернет-магазин, який став першим в нашому сегменті ринку. Торгова мережа PORTEN – офіційний дистриб'ютор більше 50 найвідоміших годинникових марок, починаючи від японської CASIO, закінчуючи швейцарськими LONGINES, ZENITH, TAG HEUER. Однак компанія не обмежується лише годинниками – в інтернет-магазині та бутіках мережі ви знайдете прекрасні ювелірні вироби від таких іменитих брендів, як SWAROVSKI и CHRISTINA.
            .category-compamy 
                h2 Категорії
                .category.flex
                    .row
                        a(href="#") годинники
                        a(href="#") запонки
                        a(href="#") ремені
                    .row
                        a(href="#") ювелірні вироби
                        a(href="#") на замовлення
                    .row
                        a(href="#") браслети
            .mailing-list
                h2 розсилка
                p Компанія пропонує тільки оригінальну продукцію від найвідоміших світових брендів за найкращою ціною. Ми дбаємо про комфорт наших покупців і постійно розширюємо можливості сервісного обслуговування.
                .form
                    form(method="post")
                        input(placeholder="Ваша пошта" type="text" id="mail")
                        button(type="submit") ПІДПИСАТИСЯ
    .copyright.flex
        p © 2022 PORTEN, Інтернет-магазин годинників
        a(href="#") Угода користувача 