doctype html
include components/mixin
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=yes, maximum-scale=3.0 minimum-scale=1.0")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital@0;1&family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.cdnfonts.com/css/post-no-bills-jaffna" rel="stylesheet">
        title Porten
        link(rel="stylesheet", href="css/styles.css")
        <link rel="shortcut icon" href="img/favic.ico" type="image/x-icon">
        <link rel="icon" href="img/favic.ico" type="image/x-icon">

    body 
        include components/header
        include components/main
        include components/footer

        script(src="js/scripts.js") 


            //- .new-arrivals-content 
            //-     figure 
            //-         ficaption 
            //-             .img-content-arrivals.flex
            //-                 img(src="img/carl.png", alt="")
            //-             .description-arrivals 
            //-                 h2.clock_h3 Carl von Zeyten
            //-                 p.clock_p 16 500 грн.  
            //- .new-arrivals-content 
            //-     figure 
            //-         ficaption 
            //-             .img-content-arrivals.flex
            //-                 img(src="img/jord.png", alt="")
            //-             .description-arrivals 
            //-                 h2.clock_h3 JORD AR5905
            //-                 p.clock_p 65 000 грн.  
            //- .new-arrivals-content 
            //-     figure 
            //-         ficaption 
            //-             .img-content-arrivals.flex
            //-                 img(src="img/armani.png", alt="")
            //-             .description-arrivals 
            //-                 h2.clock_h3 Emporio Armani Sportivo 
            //-                 p.clock_p 165 000 грн.  
            //- .new-arrivals-content 
            //-     figure 
            //-         ficaption 
            //-             .img-content-arrivals.flex
            //-                 img(src="img/rolex.png", alt="")
            //-             .description-arrivals 
            //-                 h2.clock_h3 Rolex Oyster Perpetual
            //-                 p.clock_p 280 000 грн.  
            //- .new-arrivals-content 
            //-     figure 
            //-         ficaption 
            //-             .img-content-arrivals.flex
            //-                 img(src="img/lois.png", alt="")
            //-             .description-arrivals 
            //-                 h2.clock_h3 Louis XVI ATHOS
            //-                 p.clock_p 65 000 грн.  
            //- .new-arrivals-content 
            //-     figure 
            //-         ficaption 
            //-             .img-content-arrivals.flex
            //-                 img(src="img/fontana.png", alt="")
            //-             .description-arrivals 
            //-                 h2.clock_h3 U-Boat Italo Fontana
            //-                 p.clock_p 18 700 грн.  
            //- .new-arrivals-content 
            //-     figure 
            //-         ficaption 
            //-             .img-content-arrivals.flex
            //-                 img(src="img/gucci2.png", alt="")
            //-             .description-arrivals 
            //-                 h2.clock_h3 Gucci Men's G
            //-                 p.clock_p 38 500 грн.  
            //- .new-arrivals-content
            //-     figure 
            //-         ficaption 
            //-             .img-content-arrivals.flex.viewAll
            //-                 img(src="img/jord.png", alt="")
            //-                 .allClock.flex
            //-                     a(href="") ПОКАЗАТИ ВСІ