.about-company-bg
    background: linear-gradient(0deg, rgba(15, 15, 15, 0.5), rgba(15, 15, 15, 0.5)), url(../img/portenFooter.jpg) 
    background-position: center
    background-repeat: no-repeat
    background-size: cover
.about-company-info
    // justify-content: space-between
    // justify-content: center
    // flex-direction: column
    flex-wrap: wrap
    margin: 0 auto
    text-align: left
    padding-top: 80rem
    padding-bottom: 67rem
    width: 90%
    +media(1200)
        max-width: 1110rem
        // flex-direction: row
        flex-wrap: nowrap
    h2 
        
        padding-bottom: 40rem
        font-family: 'Playfair Display'
        font-style: normal
        font-weight: 400
        font-size: 24rem
        line-height: 32rem
        text-transform: uppercase
        color: #fff
    p
        font-family: 'PT Sans'
        font-style: normal
        font-weight: 400
        font-size: 14rem
        line-height: 150%
        color: #FFFFFF

.about-company
    padding-bottom: 30rem
    width: 100%
    +media(1119)
        max-width: 350rem
        padding-right: 0
        padding-bottom: 0

.category-compamy 
    padding-right: 0
    padding-bottom: 30rem
    +media(900)
        padding-right: 30rem
    +media(1119)
        padding-right: 0
        padding-bottom: 0

.category
    flex-direction: column

.category a 
    text-align: center
    display: inline-block
    align-items: center
    padding: 10rem 20rem
    margin: 10rem 0
    margin-right: 10rem
    font-family: 'PT Sans'
    font-style: normal
    font-weight: 400
    font-size: 14rem
    line-height: 150%
    color: #D0D0D0
    background: #0F0F0F
    cursor: pointer
    transition: all .7s ease
    &:hover
        background:#1F1F1F
    
.mailing-list
    width: 100%
    +media(900)
        max-width: 350rem

.form
    padding-top: 26rem
    text-align: start
    align-items: center
    +media(900)
        text-align: center
    input 
        background: rgba(255, 255, 255, 0.4)
        border: none
        color: #fff
        padding: 10rem 20rem
    input::placeholder
        font-family: 'PT Sans'
        font-style: normal
        font-weight: 400
        font-size: 14rem
        line-height: 150%
        color: #969696
        outline: 0 
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active
        transition: all 5000s ease-in-out 0s
    input:focus
        outline: none
    button
        display: inline-block
        color: #fff
        background: #0F0F0F
        border: none
        font-family: 'PT Sans'
        font-style: normal
        padding: 8.5rem 20rem
        font-weight: 400
        letter-spacing: 0.05em
        transition: all .7s ease
        cursor: pointer
        &:hover
            background:#1F1F1F

.copyright
    justify-content: space-between
    margin: 0 auto
    align-items: center
    width: 90%
    +media(1200)
        margin: 0 auto
        max-width: 1110rem
    p
        padding: 17rem 0
        font-family: 'PT Sans'
        font-style: normal
        font-weight: 400
        font-size: 12rem
        line-height: 16rem
        color: #D0D0D0
        

    a 
        position: relative
        font-family: 'PT Sans'
        font-style: normal
        font-weight: 400
        line-height: 16rem
        font-size: 12rem
        text-align: right
        color: #D0D0D0

        &::before
            content: ""
            position: absolute
            left: 50%
            right: 0
            bottom: 0
            width: 100%
            transform: translateX(-50%)
            border-bottom: 1rem solid #fff