.new-colection-season-img
    background: linear-gradient(0deg, rgba(15, 15, 15, 0.5), rgba(15, 15, 15, 0.5)), url(../img/PortanNewColection.jpg) 
    background-size: cover
    // background-position: center
    background-repeat: no-repeat
    position: relative
    width: 45%
.new-colection-catalog 
    position: absolute
    text-align: center
    top: 60%
    left: 50%
    transform: translateX(-50%)
    a 
        margin-top: 70rem
        text-transform: uppercase
        color: #fff
        font-family: 'PT Sans'
        font-style: normal
        font-weight: 400
        font-size: 18px
        line-height: 23px
        align-items: center
        padding: 12px 28px
        border: 1px solid #fff
        transition: all .7s ease
        cursor: pointer
        &:hover
            background-color: #1F1F1F
.new-clock-season-img 
    padding: 0 25rem
    img
        background: #191B1C
        // width: 50%
.titleSeason
    padding-top: 93rem
    padding-bottom: 100rem
    text-align: center
.new-clock-season-all
    justify-content: center
    
.new-clock-season-all-img
    justify-content: space-between
    width: 60%

.new-clock-season 
    padding-bottom: 93rem

.new-clock-season-descr
    padding: 25rem
.old-colection-img 
    background: linear-gradient(0deg, rgba(15, 15, 15, 0.5), rgba(15, 15, 15, 0.5)), url(../img/PortanColection.jpg) 
    background-size: cover
    // background-position: center
    background-repeat: no-repeat
    position: relative
    width: 50%

.old-colection-clock 
    padding: 100rem 0
    width: 50%
    text-align: center
    h2 
        // padding-top: 100rem
    p
        padding-top: 80rem
        padding-bottom: 64rem
        max-width: 628rem
        margin: 0 auto
    a
        text-transform: uppercase
        color: #fff
        font-family: 'PT Sans'
        font-style: normal
        font-weight: 400
        font-size: 18px
        line-height: 23px
        align-items: center
        padding: 12px 28px
        border: 1px solid #fff
        transition: all .7s ease
        cursor: pointer
        &:hover
            background-color: #1F1F1F

.new-arrivals
    padding: 100rem 0
.new-arrivals-all-content
    margin: 0 auto
    max-width: 1110rem
    padding-top: 80rem
    flex-wrap: wrap
    justify-content: center

.new-arrivals-content 
    width: 25% 
    padding: 10px 
    box-sizing: border-box

.img-content-arrivals
    justify-content: center
    align-items: center
    background: #191B1C
    width: 260rem
    height: 325rem
    img
        width: 215rem
        height: 265rem

.viewAll 
    position: relative
    &:hover
        .allClock
            transition: all .7s ease
            opacity: 1

.allClock
    position: absolute
    justify-content: center
    align-items: center
    opacity: 0
    top: 0
    left: 0
    right: 0
    bottom: 0
    width: 260rem
    height: 325rem
    background: rgba(25, 27, 28, 0.5)
    a
        text-transform: uppercase
        color: #fff
        font-family: 'PT Sans'
        font-style: normal
        font-weight: 400
        font-size: 18px
        line-height: 23px
        align-items: center
        padding: 12px 28px
        border: 1px solid #fff
        transition: all .7s ease
        cursor: pointer  

.useful-information-all
    padding: 80rem 0
.useful-information-all 
    align-items: center

.blog-item-img
    width: 55%
.blog-item-descr-info
    flex-direction: column
    max-width: 628rem
    padding-top: 53rem
    padding-bottom: 175rem
    padding-left: 100rem
.blog-item-descr
    h2 
        font-family: 'PT Sans'
        font-style: normal
        font-weight: 400
        font-size: 18px
        line-height: 23px
        color: #fff

    p
        padding-top: 14rem
        font-family: 'PT Sans'
        font-style: normal
        font-weight: 400
        font-size: 14px
        line-height: 21rem
        color: #fff
.blog-item-btn
    justify-content: space-between
    padding-top: 40rem

.hashtag
    align-self: flex-end
    a
        padding: 0 5rem
.read
    font-family: 'PT Sans'
    font-style: normal
    font-weight: 400
    font-size: 18px
    line-height: 23px
    text-align: center
    letter-spacing: 0.1em
    text-transform: uppercase
    color: #fff
    padding: 12px 28px
    border: 1px solid #fff
    transition: all .7s ease
    cursor: pointer
    transition: all .7s ease
    &:hover
        background:#1F1F1F

.hashtag-button
    font-family: 'PT Sans'
    font-style: normal
    font-weight: 400
    font-size: 18px
    line-height: 23px
    text-align: right
    letter-spacing: 0.1em
    text-transform: uppercase
    color: #fff

.our-partners
    padding-bottom: 106rem
.our-brand
    padding-top: 80rem
    justify-content: center
    a
        padding: 0 10rem